
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-header-start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="page-section center">
                    <h1 class="page-title arb">النظافة العامة والشاملة </h1>
                    <p class="page-text">Housekeeping </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- service-start -->
<div class="space-medium">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/5.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/5.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/6.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/6.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/7.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/7.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/8.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/8.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/9.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/9.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-close -->
<div class="">
    <div class="container">
        <div class="row arb" dir="rtl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30 center">
                    <p class="lead arb">
                        النظافة العامة والشاملة للشركات والمصانع والمنازل
                    </p>
                    <p>
                        شركة فاست سيرفيس شركة متخصصة فى خدمات نظافة المنشآت حيث توفر للعديد من عملاؤها خدمة نظافة وصيانة منشأتهم على درجة ومستوى
                        عالى من الخدمة من حيث النظافة والشكل الجمالى الرائع، فان النظافة الشاملة للمكان اهم ما يميزه،
                        سواء الأرضيات أو الحوائط والسيراميك والرخام والسجاد والأنتريهات...إلخ
                    </p>
                    <p>
                        وكل هذا يتم من خلال أكبر فريق تنظيف محترف وتتوافر فيه العديد من المواصفات المهنية الرائعة كالأمانه والإحتراف والسرعة .

                    </p>
                    <p>
                        <b>خدمات النظافة الشاملة التي تقدمها الشركة :</b>
                    </p>
                    <p>
                        • تولي مسؤلية النظافة الشاملة للشركات بصفة دورية سواء يوميا او أسبوعيا أو شهريا .
                    </p>
                    <p>
                        • تنظيف جميع الواجهات الزجاجية والرخامية مهما كان الأرتفاع .
                    </p>
                    <p>
                        • تنظيف جميع أنواع الأرضيات سواء سيراميك أو رخام وجرانيت أو باركيه بأحدث المعدات .
                    </p>
                    <p>
                        • تنظيف جمبع أنواع السجاد والموكيت والستائر والأنتريهات .
                    </p>
                    <p>
                        • التعاقد مع الشركات وأصحاب المنازل والأبراج السكنية بتولي مسؤلية النظافة بعد التشطيب وايضا النظافة الدورية .
                    </p>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

