
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-header-start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="page-section center">
                    <h1 class="page-title arb">نظافة الهود والمداخن </h1>
                    <p class="page-text">Clean chimneys</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- service-start -->
<div class="space-medium">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-block">
                    <div class="service-img">
                        <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/1.jpg" data-lightbox="example-set">
                            <img class="example-image img-responsive" src="~/Assets/images/Services/1.jpg" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/2.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/2.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/3.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/3.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/4.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/4.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-close -->
<div class="">
    <div class="container">
        <div class="row arb" dir="rtl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30 center">
                    <p class="lead arb">
                        نظافة اجهزة الهود والمداخن الخاصة بالمطاعم ومطابخ الفنادق
                    </p>
                    <p>
                        <b>أولا :</b>
                        شركة فاست سيرفيس للنظافة الشاملة من افضل الشركات الرائدة في مجال تنظيف الهود والمداخن بجميع ارتفاعتها للمطاعم ومطابخ الفنادق
                        وهذا البرنامج يمر بأكثر من مرحلة من أعلى الى أسفل واليكم اهمها .
                    </p>
                    <p>
                        <b> ثانيا :</b>
                        تنظيف الخطوط الرأسية والأفقية كاملة عن طريق فريق متخصص ومدرب تدريباً عالياً للقيام بمثل هذه الاعمال والنزول داخل الخط وتنظيفه
                        من الداخل بأفضل الكيماويات وعند مواجهة صعوبة في دخول الخط يتم عمل أبواب فنية وتسمي (ابواب كشف
                        , ابواب طوارئ ) لضمان كفاءة عملية التنظيف داخل الخطوط ويتم التنظيف عن طريق الضغط العالي وضخ مياه
                        ساخنة و مذيبات تعمل على تفكيك الدهون التي تسبب مشاكل كثيرة في الهود ومنها أحداث حرائق لا قدر
                        الله.

                    </p>
                    <p>
                        <b> ثالثا :</b>
                        بعد الأنتهاء من العمليتين السابقتين يتم تنظيف الطنابيش جيدا وإزالة جميع الدهون المتراكمة فيها ثم استخدام ملمعات إستانلس لتلميع
                        الطنابيش من الخارج وتركها لامعة كما لو كانت جديدة .
                    </p>
                    <p>
                        <b>رابعا :</b>
                        يتم اختبار كفاءة الشفط بعد التنظيف وتصويره من الداخل لضمان كفاءة إتمام عملية تنظيف المداخن .

                    </p>
                    <p>
                        <b> خامسا :</b>
                        بعد اتمام عملية النظافة تقوم الشركة بأعطاء العميل شهادة ضمان .
                    </p>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

