
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- page-header-start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="page-section center">
                    <h1 class="page-title arb">العناية بالمسطحات الخضراء و تأسيس البرجولات </h1>
                    <p class="page-text">Land Escape</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- service-start -->
<div class="space-medium">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/13.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/13.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/14.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/14.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/15.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/15.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/16.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/16.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/17.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/17.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/18.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/18.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-close -->
<div class="">
    <div class="container">
        <div class="row arb" dir="rtl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30 center">
                    <p class="lead arb">
                        تنسيق الحدائق والعناية بالمسطحات الخضراء و تأسيس البرجولات الخشبية للفلل والحدائق العامة علي الترز القديم والحديث
                    </p>
                    <p>
                        تنظيف المساحات الخضراء والاعتناء بها وتأسيس البرجولات الخشبية يعد من أهم مظاهر الجمال وأكثر ما يجذب النظر في الحدائق والفلل
                        هو تصميم الحديقة والاهتمام والعناية بها

                    </p>
                    <p>
                        <b> لذلك اليكم الاسباب التالية لأختيارنا :</b>

                    </p>
                    <p>
                        • تصميم وانشاء البرجولات الخشبية بجميع انواعها ومساحتها المختلفة.
                    </p>
                    <p>
                        • تصميم وتركيب وصيانة شبكات الري اليدوية والاوتوماتيكية.
                    </p>
                    <p>
                        • زراعة أنواع الزينة المناسبة مع مساحة الحديقة.
                    </p>
                    <p>
                        • تولي مسؤلية تجهيز حدائق الكافيهات والمستشفيات والملاعب.
                    </p>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

