
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- page-header-start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="page-section center">
                    <h1 class="page-title arb">نظافة الوجهات الزجاجية </h1>
                    <p class="page-text">Clean the glass wall </p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-header-close -->
<!-- service-start -->
<div class="space-medium">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/10.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/10.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/11.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/11.jpg" />
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-img">
                    <a class="example-image-link imghover" href="~/Assets/images/ServicesLarge/12.jpg" data-lightbox="example-set">
                        <img class="example-image img-responsive" src="~/Assets/images/Services/12.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service-close -->
<div class="">
    <div class="container">
        <div class="row arb" dir="rtl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mb30 center">
                    <p class="lead arb">
                        نظافة الوجهات الزجاجية للشركات والبنوك والمستشفيات
                    </p>
                    <p>
                        شركة فاست سيرفيس من افضل الشركات التي تقوم بتنظيف الوجهات الزجاجية والرخامية والاستركشر للشركات والبنوك والمستشفيات
                    </p>
                    <p>
                        بشكل كامل أياً كانت ارتفاعها فى مدة زمنية قصيرة والتخلص من الأتربة والأثار الغير محببة للواجهات من سقوط أمطار وأتربة .
                    </p>
                    <p>
                        • استخدام منظفات عالية الجودة لا تؤثر على العمر الأفتراضي للزجاج وتعطيه المزيد من اللمعان .
                    </p>
                    <p>
                        • استخدام أدوات عالية الجودة في التنظيف والتلميع مما يحافظ على الزجاج من الخدوش .
                    </p>
                    <p>
                        • لدينا فريق محترف ومدرب تدريباً فنياً ذو مهارة عالية للقيام بمثل هذه الاعمال دون التقصير فيها .
                    </p>
                </div>
                <hr>

            </div>
        </div>
    </div>
</div>

